

#map {
    position: fixed;
    right: .9vw;
    width: 24.1vw;
    height:97.9vh;
    background-color: grey;
}
#terminal {
    background-color: black;
    color: white;
    width: 72.45vw;
    height: 100%;
    font-family: monospace;
    padding-left: 1.5vw;
    padding-top: .5vh;
    overflow: auto;
    line-height: .5em;
}
#text-input {
    position:fixed;
    bottom: 1.44vh;
    width: 72.2vw;
    padding-left:1.5vw;
    height: 3vh;
    font-family: monospace;
}

.hide {
    overflow: auto;
    width: 99.5vw;
    height: 94vh;
    margin-bottom: 2vh;
    position: fixed;
}
main {
    padding:0;
    margin:0;

}