

#map {
    position: fixed;
    right: 0px;
    margin-right: .55vw;
    width: 24.45vw;
    height:97.6vh;
    background-color: grey;
}
#terminal {
    background-color: black;
    color: white;
    width: 72.45vw;
    font-family: monospace;
    padding-left: 1.5vw;
    padding-top: .5vh;
    overflow: auto;

}
#text-input {
    position:fixed;
    bottom: 1.44vh;
    width: 72.1vw;
    padding-left:1.5vw;
    height: 3vh;
    font-family: monospace;
}

.hide {
    overflow: auto;
    width: 100vw;
    height: 94vh;
    margin-bottom: 2vh;
    position: fixed;
}